################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dummy.Api/bin/Debug/net8.0
/Dummy.Api/obj
/.vs
/Dummy.Api/.vs/Dummy.Api
